<p id="notice"><%= notice %></p>

<p>
  <strong>Lang:</strong>
  <%= @gist.lang %>
</p>

<p>
  <strong>Snippet:</strong>
</p>

<%= raw Pygments.highlight(@gist.snippet, lexer: @gist.lang) %>

<p>
  <strong>Description:</strong>
  <%= @gist.description %>
</p>

<%= link_to 'Edit', edit_gist_path(@gist),  class: "btn btn-primary" %> |
<%= link_to 'Destroy', @gist, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-sm" %>|
<%= link_to 'Back', gists_path, class: "btn btn-default" %>
